<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="body_macro" params="pkg_name robot_name">
        <joint name="${robot_name}_base_flame_joint" type="fixed">
            <parent link="${robot_name}_base_link"/>
            <child link="${robot_name}_base_flame_link"/>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0"/>
        </joint>
        <link name="${robot_name}_base_flame_link">
            <inertial>
                <mass value="2.0"/>
                <inertia ixx="0.003" ixy="0" ixz="0" iyy="0.003" iyz="0" izz="0.006"/>
            </inertial>
        </link>

        <joint name="${robot_name}_base_cover_joint" type="fixed">
            <parent link="${robot_name}_base_link"/>
            <child link="${robot_name}_base_cover_link"/>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 0"/>
        </joint>
        <link name="${robot_name}_base_cover_link">
            <visual>
                <origin xyz="0 0 0" rpy="${-1 * pi/2} 0 0"/>
                <geometry>
                    <mesh filename="file://$(find ${pkg_name})/model/base_cover.dae" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="file://$(find ${pkg_name})/model/base_cover.stl" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>