<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="orca">
    <xacro:arg name="robot_name" default="orca_00"/>
    <xacro:property name="pkg_name" value="simulation_env" />

    <xacro:include filename="body/shape_macro.xacro"/>

    <link name="$(arg robot_name)_base_link"/>
    
    <!-- body -->
    <xacro:include filename="body/body_macro.xacro"/>
    <xacro:body_macro pkg_name="${pkg_name}" robot_name="$(arg robot_name)"/>

    <!-- wheel -->
    <xacro:include filename="body/omni_macro.xacro"/>
    <xacro:property name="body_height" value="${(58/2-5) * 0.001}" />
    <xacro:property name="wheel_base" value="${64.94229 * 0.001}" />
    <xacro:omni pkg_name="${pkg_name}" prefix="$(arg robot_name)_wheel_front" parent="$(arg robot_name)_base_link" xyz="${wheel_base*cos(radians(0))} ${wheel_base*sin(radians(0))} ${body_height}" rpy="0 0 ${radians(0)}"/>
    <xacro:omni pkg_name="${pkg_name}" prefix="$(arg robot_name)_wheel_right" parent="$(arg robot_name)_base_link" xyz="${wheel_base*cos(radians(120))} ${wheel_base*sin(radians(120))} ${body_height}" rpy="0 0 ${radians(120)}"/>
    <xacro:omni pkg_name="${pkg_name}" prefix="$(arg robot_name)_wheel_left"  parent="$(arg robot_name)_base_link" xyz="${wheel_base*cos(radians(-120))} ${wheel_base*sin(radians(-120))} ${body_height}" rpy="0 0 ${radians(-120)}"/>

    <!-- fork -->
    <!-- arm -->

    <!-- sensor -->
    <xacro:include filename="sensor/imu.xacro" />
    <xacro:imu robot_name="$(arg robot_name)" />
    <xacro:include filename="sensor/camera.xacro" />
    <xacro:camera pkg_name="${pkg_name}" robot_name="$(arg robot_name)" />

    <!-- marker -->
    <xacro:include filename="body/marker_macro.xacro" />
    <xacro:marker_macro pkg_name="${pkg_name}" robot_name="$(arg robot_name)" />


    <!-- gazebo ros2 connection -->
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- wheel controller -->
        <xacro:include filename="controller/wheel_controller.xacro"/>
        <xacro:wheel_controller robot_name="$(arg robot_name)" prefix="wheel_front"/>
        <xacro:wheel_controller robot_name="$(arg robot_name)" prefix="wheel_right"/>
        <xacro:wheel_controller robot_name="$(arg robot_name)" prefix="wheel_left"/>
        <!-- servo controller -->
        <xacro:include filename="controller/servo_controller.xacro"/>
        <xacro:servo_controller robot_name="$(arg robot_name)"/>
    </ros2_control>
    
    <gazebo>
        <xacro:include filename="sensor/odom.xacro" />
        <xacro:odom robot_name="$(arg robot_name)" />
        <!-- state publisher -->
        <xacro:include filename="controller/state_publisher.xacro"/>
        <xacro:state_publisher robot_name="$(arg robot_name)"/>
        <!-- gazebo ros2 control -->
        <plugin name = "$(arg robot_name)_gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <ros>
                <namespace>$(arg robot_name)</namespace>
            </ros>
            <!-- <robot_param>robot_description</robot_param> -->
            <robot_param_node>/$(arg robot_name)_robot_state_publisher</robot_param_node>
            <parameters>$(find ${pkg_name})/config/$(arg robot_name)_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    
</robot>
