<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="wheel_joint" params="name">
    <!-- base joints -->
    <joint_name>${name}_sus_joint</joint_name>
    <joint_name>${name}_joint</joint_name>

    <!-- barrel joints -->
    <joint_name>${name}_barrel_1_joint</joint_name>
    <joint_name>${name}_barrel_2_joint</joint_name>
    <joint_name>${name}_barrel_3_joint</joint_name>
    <joint_name>${name}_barrel_4_joint</joint_name>
    <joint_name>${name}_barrel_5_joint</joint_name>
    <joint_name>${name}_barrel_6_joint</joint_name>
    <joint_name>${name}_barrel_7_joint</joint_name>
    <joint_name>${name}_barrel_8_joint</joint_name>
    <joint_name>${name}_barrel_9_joint</joint_name>
    <joint_name>${name}_barrel_10_joint</joint_name>
  </xacro:macro>

  <xacro:macro name="state_publisher" params="robot_name">
    <plugin name="${robot_name}_gazebo_ros_joint_state_publisher"
      filename="libgazebo_ros_joint_state_publisher.so">
      <!-- <ros>
        <namespace>${robot_name}</namespace>
      </ros> -->
      <update_rate>20</update_rate>
      <!-- wheel -->
      <xacro:wheel_joint name="${robot_name}_wheel_front"/>
      <xacro:wheel_joint name="${robot_name}_wheel_right"/>
      <xacro:wheel_joint name="${robot_name}_wheel_left"/>
      <!-- cam -->
      <joint_name>${robot_name}_cam_housing_joint</joint_name>
    </plugin>
  </xacro:macro>
</robot>
